frontend/node_modules
frontend/.env
backend/node_modules
backend/.env
backend/keys
.env
.DS_Store

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
